RewriteEngine       On              # Turn on the rewriting engine
RewriteRule         ^about/?$       index.html    [NC,L]    # Handle requests for "about"
RewriteRule         ^blog/?$        blog.html    [NC,L]    # Handle requests for "blog"